<div class="col">
  <br />
  <h4>All Yard Sales</h4>
  <br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Select</th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td><button type="button" (click)="onSelect(sale)">Select</button></td>
        <th scope="row">{{ sale.id }}</th>
        <td><ngb-highlight [result]="sale.Title"></ngb-highlight></td>
        <td><ngb-highlight [result]="sale.Description"></ngb-highlight></td>
        <td><ngb-highlight [result]="sale.SaleStart | date"></ngb-highlight></td>
        <td><ngb-highlight [result]="sale.SaleEnd | date"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>
</div>

